# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment files
.env

# OS-specific
.DS_Store
Thumbs.db

# Coverage directory
coverage/

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build output
dist/
build/
